<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="${rootAddr}view/css/pintuer.css">
<link rel="stylesheet" href="${rootAddr}view/css/admin.css">
<script src="${rootAddr}view/js/jquery2.js"></script>
<script src="${rootAddr}view/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>用户信息更新</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="${rootAddr}userManage/userUpd">  
      <input type="hidden" name="user.id" value="$upduser.id"/>
      <div class="form-group">
        <div class="label">
          <label>用户名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="$!upduser.username" name="user.username" data-validate="required:请输入用户名" readonly=readonly/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>用户真实姓名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="$!upduser.realusername" name="user.realusername" data-validate="required:请输入用户真实姓名" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>手机号码：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="$!upduser.tel" name="user.tel" data-validate="required:请输入用户手机号码" />
          <div class="tips"></div>
        </div>
      </div>
      
      <!--div class="form-group">
        <div class="label">
          <label>新密码：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="user.password" data-validate="required:请输入密码" />
          <div class="tips"></div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label>确认密码：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="user.password2" data-validate="required:请确认密码" />
          <div class="tips"></div>
        </div>
      </div-->
      
      <div class="form-group">
        <div class="label">
          <label>角色：</label>
        </div>
        <div class="field">
       	 #foreach($d in $roleInfoList)
       	    #set($flag=0)
       	    #foreach($r in $userRoleList)
       	    	#if($r.roleId == $d.id)
       	    		#set($flag=1)
       	    	#end
       	    #end
       	  <input type="checkbox" name="roleIds" value="$d.id" #if($flag == 1) checked=checked#end><label>$d.rolename</label>
       	 #end
         <div class="tips"></div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>