<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/logo.png"/>
    <title>票价管理系统</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="${rootAddr}view/css/pintuer.css">
    <link rel="stylesheet" href="${rootAddr}view/css/admin.css">

    <!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  
    <script src="${rootAddr}view/js/jquery.js"></script>
    <script src="${rootAddr}view/js/jquery2.js"></script>
    <script src="${rootAddr}view/js/pintuer.js"></script>  
    <style>
        html,body {
            height: 100%;
        }
        .box {
            /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#6699FF'); /!*  IE *!/*/
            /*background-image:linear-gradient(bottom, #6699FF 0%, #6699FF 100%);*/
            /*background-image:-o-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);*/
            /*background-image:-moz-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);*/
            /*background-image:-webkit-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);*/
            /*background-image:-ms-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);*/
            background-image:url("${rootAddr}view/images/bg123.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            margin: 0 auto;
            position: relative;
            width: 95%;
            height: 95%;
        }
        .login-box {
            width: 100%;
            max-width:500px;
            height: 400px;
            position: absolute;
            top: 50%;

            margin-top: -200px;
            /*设置负值，为要定位子盒子的一半高度*/

        }
        @media screen and (min-width:500px){
            .login-box {
                left: 50%;
                /*设置负值，为要定位子盒子的一半宽度*/
                margin-left: -250px;
            }
        }

        .form {
            width: 100%;
            max-width:500px;
            height: 275px;
            margin: 25px auto 0px auto;
            padding-top: 25px;
        }
        .login-content {
            height: 300px;
            width: 100%;
            max-width:500px;
            background-color: rgba(255, 250, 2550, .6);
            float: left;
        }


        .input-group {
            margin: 0px 0px 30px 0px !important;
        }
        .form-control,
        .input-group {
            height: 40px;
        }

        .form-group {
            margin-bottom: 0px !important;
        }
        .login-title {
            padding: 20px 10px;
            background-color: rgba(0, 0, 0, .6);
        }
        .login-title h1 {
            margin-top: 10px !important;
        }
        .login-title small {
            color: #fff;
        }

        .link p {
            line-height: 20px;
            margin-top: 30px;
        }
        .btn-sm {
            padding: 8px 24px !important;
            font-size: 16px !important;
        }
        .text-white{
            color: white;
        }
    </style>
    
    <script>
       $(document).ready(function(){
    		getLine();
		});
		
		function seeIsIe() {
			var isIe = !-[1,];
			if(isIe) {
				return true;
			}
			else {
				return false;
			}
		}
		
    	function getLine() {
			$.post("${rootAddr}ajax/ajaxFindLine",{},function(data) {
				var xml;
				if (seeIsIe()) {
					xml = new ActiveXObject("Microsoft.XMLDOM");
					xml.async = false;
					xml.loadXML(data);
				} else {
					
					xml = data;
				}
				var messageHead = $("messageHead",xml).text();
				
				if(messageHead == '0') {
					var count = $("count",xml).text();
					if(count == '0') {
						return;
					}else {
						$("#lineNo").children("[value != '-1']").remove();
						$("lineInfo",xml).each(function() {
							var lineNo = $("lineNo",this).text();
							var lineNme = $("lineNme",this).text();
							if(lineNo == '${oriLineNo}') {
								$("<option value=" + lineNo +" selected='selected'>" + lineNme + "</option>").appendTo($("#oLineNo"));
							}else {
								$("<option value=" + lineNo +">" + lineNme + "</option>").appendTo($("#oLineNo"));
							}
							
							if(lineNo == '${desLineNo}') {
								$("<option value=" + lineNo +" selected='selected'>" + lineNme + "</option>").appendTo($("#dLineNo"));
							}else {
								$("<option value=" + lineNo +">" + lineNme + "</option>").appendTo($("#dLineNo"));
							}
							
						})
					}
				}else {
					alert('获取线路信息错误，请检查格式！');
				}
			});
		}
		
    </script>
</head>
<body>
<div class="body-content">
    <form method="post" class="form-x" action="${rootAddr}/priceManage/createPriceTable" id="form1">
      <div class="form-group" style="width:50%">
        <div class="label">
          <label>起始线路：</label>
        </div>
        <div class="field">
	        <select name="oriLineNo" class="input w50" id="oLineNo">
	         	<option value="-1">请选择</option>
	        </select>
	        <div class="tips"></div>
        </div>
      </div> 
      <div class="form-group" style="width:50%">
        <div class="label">
          <label>目的线路：</label>
        </div>
        <div class="field">
        	<select name="desLineNo" class="input w50" id="dLineNo">
	         	<option value="-1">请选择</option>
	        </select>
	        <div class="tips"></div>
        </div>
      </div>
 	</div>
 	
    <div class="form-group" style="width:25%">
        <div class="label">
          <label></label>
        </div>
        <div class="field" width="100%" align="center">
          <button class="button bg-main icon-search" type="submit"> 查询</button>
          <button class="button bg-main" type="button" onclick="reset()"> 重置</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--div class="box">
   
</div-->

<div class="box2">
   <table border="1" style="table-layout:fixed;">
   		 #set($index1=1)
   		 #set($s=$priceList.size()*3)
   		 #foreach($l in $priceList)
   		 	<tr>
   		 		 #set($index2=1)
   		 		 #foreach($d in $l)
   		 		    #if($index1 == $priceList.size() || $index2 == 1)
   		 		      #if($index2 == 1)
   		 		 		<td style="text-align:right" width=${s}px>$!d</td>
   		 		 	  #else
   		 		 	  	<td style="text-align:center" width=${s}px>$!d</td>
   		 		 	  #end
   		 		 	#else
   		 		 		<td style="text-align:center" width=5px>$!d</td>
   		 		 	#end
   		 		 	#set($index2=$index2+1)	
   		 		 #end
   		 	</tr>
   		 #set($index1=$index1+1)	
   		 #end
   </table>
</div>


<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script>
    /*Bootlint工具用于对页面中的HTML标签以及Bootstrapclass的使用进行检测
    (function () {
        var s = document.createElement("script");
        s.onload = function () {
            bootlint.showLintReportForCurrentDocument([]);
        };
        s.src = "js/bootlint.js";
        document.body.appendChild(s)
    })();*/
</script>
</body>
</html>