<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>线路信息</title>  
    <link rel="stylesheet" href="${rootAddr}view/css/pintuer.css">
    <link rel="stylesheet" href="${rootAddr}view/css/admin.css">
    <script src="${rootAddr}view/js/jquery2.js"></script>
    <script src="${rootAddr}view/js/pintuer.js"></script>  
    <script>
    	function changePage(oprt) {
    		var nowpage = document.getElementById("nowpagetxt").value;
    		if(oprt == 'f') {
    			document.getElementById("nowpagetxt").value = "1";
    		}
    		
    		if(oprt == 'p') {
    			document.getElementById("nowpagetxt").value = nowpage - 1 > 0 ? nowpage - 1:1;
    		}
    		
    		if(oprt == 'n') {
    			document.getElementById("nowpagetxt").value = nowpage + 1 < ${totalPageSize}?nowpage + 1:${totalPageSize};
    		}
    		
    		if(oprt == 'l') {
    			document.getElementById("nowpagetxt").value = ${totalPageSize};
    		}
    		
    		document.getElementById("form1").submit();
    	}
    </script>
</head>
<body>
<form method="post" action="${rootAddr}lineManage/lineDelete" id="form2">
	 <input type="hidden" name="lineInfo.id" id="idtxt"/>
</form>
<form method="post" class="form-x" action="${rootAddr}lineManage/lineQueryByCondition" id="form1">
      <input type="hidden" name="nowpage"  value="${nowpage}" id="nowpagetxt"/> 
      <input type="hidden" name="pagesize"  value="5" /> 
      <input type="hidden" name="totolpagesize"  value="${totalPageSize}" /> 
</form>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 线路信息列表</strong></div>
  <div class="padding border-bottom">
  	
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">序号</th>
      <th>线路编号</th>  
      <th>名称</th>
      <th>英文名</th>
      <th>颜色</th>
      <th>描述</th>      
      <th width="250">操作</th>
    </tr>
    #set($index=1)
    #foreach($l in $queryResult)
    <tr>
      <td>${index}</td>      
      <td>${l.lineNo}</td>  
      <td>${l.lineNme}</td>
      <td>$!l.lineEnNme</td>
      <td>$!l.lineColor</td>
      <td>$!l.lineDes</td>
      <td>
      <div class="button-group">
       <a class="button border-red" href="javascript:void(0);" onclick="userdel('${l.id}')"><span class="icon-trash-o"></span>删除</a>
      </div>
      </td>
    </tr> 
    #set($index=$index + 1)
    #end 
     <tr>
        <td colspan="8"><div class="pagelist"> <a onclick="script:changePage('f');">首页</a> <a onclick="script:changePage('p')">上一页</a> <a onclick="script:changePage('n')">下一页</a><a onclick="script:changePage('l');">尾页</a> 共${totalPageSize}页</div></td>
      </tr>
  </table>
</div>
<script>
function userdel(idVal){
	if(confirm("您确定要删除吗?")){
		document.getElementById("idtxt").value = idVal;
		document.getElementById("form2").submit();
	}
}
</script>
</body></html>